* {

    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #2e97b7;
    
    
}

div.container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    
}

div.itens {
    width: 100px;
    height: 50px;
    background-color: black;
    margin: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    
    
        

}
div.itens:hover{
    background-color:white;
    color: black;
    font-size: 20px;
}
a:visited{
    color: write;
    text-decoration: none;
  }
div.projetos{
    width: auto;
    height: 50px;
    background-color: black;
    margin: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

div.missão{
    width: auto;
    height: 50px;
    background-color: black;
    margin: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

div.contatos{
    width: auto;
    height: 50px;
    background-color: black;
    margin: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    
}
div.cont{
    width:300px;
    height: 300pxpx;
    background-color: black;
    margin: auto;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    flex-wrap: wrap;    
    margin-bottom: 30px;
    

}

div.cont ul:last-child {
    margin-bottom: none;
}